<!DOCTYPE html>
<html lang="frr">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic"/>
    <link rel="stylesheet" href="//cdn.rawgit.com/necolas/normalize.css/master/normalize.css"/>
    <link rel="stylesheet" href="//cdn.rawgit.com/milligram/milligram/master/dist/milligram.min.css"/>
    <link rel="stylesheet" href="./css/main.css"/>
    <title><%= title %></title>
</head>
<body>
<header>
    <nav>
        <ul>
            <li><a href="/">Accueil</a></li>
            <!--
                          You need to check if the user is connected to display
                          or not those links
                          - https://gist.github.com/DWS-paris/30ccb1df09b0acaa2ca9f587af7be952
                      -->
            <% if( !connected ){ %>
                <li><a href="/login">Connexion</a></li>
            <% } %>
            <% if( connected ) { %>
                <li><a href="/me">Compte</a></li>
            <% } %>
        </ul>
    </nav>
</header>
