<%- include('./header.ejs' , { title: "Login" }) %>
<main>
    <div class="row">
        <div class="column column-40">
            <h2>Connexion</h2>
            <% if(error) { %>
                <small>Bad Email or Password</small>
            <% } %>
            <form action="/login" method="POST">
                <label for="email">Email</label>
                <input type="email" name="email" id="email" required minlength="5">
                <label for="password">Mot de passe</label>
                <input type="password" name="password" id="password" required minlength="5">
                <button type="submit">Soumettre</button>
            </form>
        </div>
    </div>
</main>
</body>
</html>